/*INFO 343 Final Project
Minerva Chen, Warner Chen, James Prow, Lina Thach*/
/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    font-family: 'Vollkorn', sans-serif;
    font-size: 18px;
    padding: 10px;
    color: black;
}

p {
    margin: 5px;
    font-style: bold;
}
.modal-content{
    color: white;
    background-color: black;
}
.hidden-submit{
    display: none;
}

.head {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.container {
    background-color: white;
    margin: 0 auto;
    padding: 0px;
}

.volunteer-template {
    display: none;
}

.volunteer {
    float: left;
    text-align: center;
    padding: 10px;
}

.volunteer img {
    float: left;
}

.footer {
    border-width: 2px;   
    border-top-style: groove;
    margin-top: 10px;
    border-color: purple;
    font-size: 90%;
    font-style: italic;
    color: white;
    text-shadow: 0.05em .1em black;
    overflow: hidden;
    background-image: url(../img/background.jpg);
}

.navbar {
    font-variant: small-caps;
    text-align: center;
}

.navbar-right {
    padding-right: 15px;
}

.logo{
    text-align: center;
    background-color: black;
    width: auto !important;
    width: 100%;
    max-width: 100%;
    height: auto;
    opacity: .9;
}

.logo:hover{
    opacity: 1;
}

.content-box{
    overflow: hidden;
    margin: auto;
    width: 80%;
    padding: 20px;
}

.row{
    margin: 0 auto;
    font-variant: small-caps;
    text-align: center;
    font-size: 20px;
}

.row img {
    border-radius: 4px 4px 4px 4px;
} 

.dropdown-menu {
    color: black;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
color: #262626;
text-decoration: none;
background-color: #f5f5f5;
}











/*All the CSS for the schedule page*/

.box-heading {
    margin-left: 5%;
}

.shift {
    padding: 10px;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.shift-form {
    padding: 0px;
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
}

.pre-scrollable {
    max-height: 200px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-style: italic;
    font-size: 24px;
    padding: 10px;
}

.v {
    text-align: center;
}

li {
    float: center;
}

.button {
    padding: 40px;
    float: right;
}

.legend {
   float: center;
   margin-left: 38.5px;
}

.legend-list {
    padding-bottom: 20px;
}

.picture {
    overflow: scroll;
}

.time {
    float: left;
}

.check-box {
    color: #000;
    text-align: left;
}

.input-group {
    width: 200px;
    margin-left:auto;
    margin-right:auto;
}
